body {
    width: 96%;
    max-width: 960px;
    flex-wrap: wrap;
    display: flex;
    margin: 0px auto;
    font: 300 14px "Lato", sans-serif;
    padding: 0px 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

a {
    color: #2d3c49;
    text-decoration: none;
}

header {
    margin-top: 20px;
    justify-content: space-between; 
    width: 100%;
    display: flex;
}

#logo-image {
    width: 150px;
}

.header-title-container {
    text-align: right;
    text-transform: uppercase;
}

.name {
    font-weight: 300;
    font-size: 3.3em;
    margin-top: 0;
}

.job {
    font-weight: 500;
}

hr {
    border-top: 2px solid #7d97ad;
    width: 100%;
}

.round-border {
    border-radius: 5px;
    max-width: 100%;
}

.main-section {
    max-width: 100%;
}

.main-image-small {
    display: none;
}

.projects-section {
    margin-top: 40px;
}

.projects-section-title {
    color: #7d97ad;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 2em;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.project-article {
    max-width: 33%;
}

.project-name {
    font-size: 1.5em;
    margin: 5px auto;
}

.project-url {
    margin: 10px auto;
    color: #2d3c49;
    text-decoration: none;
}

footer {
    width: 100%;
    display: flex;
    padding-left: 5px;
    background-color:#F5F5F5;
    color: #2d3c49;
    border-radius: 5px;
    margin: 20px auto;
}

footer p {
    flex: 1;
    margin-left: 0px;
    margin-bottom: 5px;
}

footer ul {
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: 5px 5px;
    padding-left: 0;
    list-style: none;
}

/* Use a media query to add a breakpoint at 1000px: */
@media screen and (max-width: 1000px) {
    .logo {
        width: 130px;
    }

    #logo-image {
        width: 100%;
    }

    .project-article {
        max-width: 48%; 
        font-size: 1.2em;
        margin-bottom: 20px;
        padding-right: 8px;
    }

    .project-url {
        font-size: 0.7em;
    }
    
    .name {
        font-size: 2.3em;
    }
}

/* Use a media query to add a breakpoint at 550px: */
@media screen and (max-width: 550px) {
    .logo {
        display: none;
    }

    .header-title-container {
        text-align: center;
        width: 100%;
    }

    .name {
        font-size: 0.7 em;
        font-weight: 500;
    }

    .projects-container {
        flex-wrap: wrap;
        display: flex;      
    }

    .project-article {
        max-width: 100%; 
        margin-bottom: 30px;  
    }

    .project-url {
        font-size: 1em;
    }

    .projects-section-title{
        text-align: center;
        font-size: 2.3em;
        margin-top: 30px; 
    }

    .main-image-big {
        display: none;
    }

    .main-image-small {
        display: flex;
        margin-right: auto;
    }
}